.block
{
    width: 100%;
   padding: 4rem 0;
    text-align: center;
    overflow-y: hidden;
    position: relative;

    font-family: "abril-text";
}

.block .primary
{
     font-size: 2rem;
    margin: 0 1rem;
}
.block .secondary
{
    font-size: 1.5rem;
    margin: 0 1rem;
}

.block .tertiary
{
    position: absolute;
    top: 1.5rem;
    font-size: 1.5rem;
    left: 50%;
    transform:  translateX(-50%);
    opacity: 0.25;
    color: #444!important;
}

#block283 {
    color: #333;
}
#block283 .primary {
    color: #e01919;
}

#block282 {
    color: #fe4333;
    font-family: "canada-type-gibson";
}
#block282 .primary {
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    word-spacing: 0.25rem;

}

#block281, #block279 {
    font-family: "canada-type-gibson";
    
}
#block281 .primary, #block279 .primary {
    font-weight: 600;
}


#block280 {
    font-family: "canada-type-gibson";
    color: #652585;
}
#block280 .primary {
    text-transform: uppercase;
}

#block276 {
    font-family: "canada-type-gibson";
    color: #f10479;
}
#block276 .primary {
    text-transform: uppercase;
    font-weight: 900;
}
#block276 .book-memos-wrapper{
    font-size: 15px!important;
}

#block275 {
    color: #0342bc;
    font-family: "karmina-sans";
}
#block275 .book-memos-wrapper{
    font-size: 14px;
    color: #ff6e73;
}

#block274 {
    color: #232323;
}
#block274 .primary {
    font-weight: 900;
    font-family: "canada-type-gibson";
}
#block274 .book-memos-wrapper {
    font-family: "canada-type-gibson";
}

#block273 {
    color: #cc0a3d;
    font-family: "canada-type-gibson";
}
#block273 .primary {
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.5rem;
    word-spacing: 0.25rem;

}

#block272 {
    font-family: "abril-text";
    color: #7b8580;
}
#block272 .primary {
    color: #e29440;
    font-family: "canada-type-gibson";
    font-weight: 600;
    text-transform: uppercase;
}

#block271 {
    font-family: "canada-type-gibson";
    color: #cc4253;
}
#block271 .primary {
    color: #cc4253;
    font-family: "karmina-sans";
}

#block270 {
    font-family: "karmina-sans";
    color: #343e26;
}
#block270 .primary {
    color: #c74543;
    font-family: "canada-type-gibson";
    font-weight: 600;
}
#block270 .secondary {
    font-weight: 600;
    font-family: "canada-type-gibson";
}

#block269 {
    font-weight: 200;
    font-family: "canada-type-gibson";
    color: #5f5a5a;
}
#block269 .primary {
    color: #111;
    font-family: "canada-type-gibson";
    font-weight: 500;
}

#block268 {
    font-family: "karmina-sans";

}
#block268 .primary {
    color: #009de2;
    text-transform: uppercase;
}
#block268 .secondary {
    color: #000;
    text-transform: uppercase;
    font-size: 1rem;
}

#block267 {
    font-weight: 200;
    font-family: "canada-type-gibson";

}
#block267 .primary {
    font-size: 1.5rem;
    color: #bfa158;
    text-transform: uppercase;
    word-spacing: 0.3rem;
    letter-spacing: 0.5px;
    font-weight: 400;
}
#block267 .primary span {
    border-bottom: 2px solid;
}
#block267 .book-memos-wrapper {
    font-family: "arno-pro-display";
    font-size: 1.35rem;
}

#block266, #block278 {
}
#block266 .primary, #block278 .primary {
    font-weight: 900;
}
#block266 .secondary, #block278 .secondary {
    font-weight: 900;
    font-family: "canada-type-gibson";
}
#block266 .book-memos-wrapper, #block278 .book-memos-wrapper {
    color: #777;
}

#block265 {
    font-family: "canada-type-gibson";
}
#block265 .primary {
    font-size: 1.5rem;
    color: #ef4130;
}
#block265 .secondary {
    color: #cec9c9;
    font-size: 1rem;
}
#block265 .book-memos-wrapper {
    color: #ef4130;
}

#block264 {
}
#block264 .primary {
    font-weight: 900;
}
#block264 .secondary {
    font-weight: 900;
    font-family: "canada-type-gibson";
}
#block264 .book-memos-wrapper {
    color: #777;
}

#block263 {
    color: #232323;
}
#block263 .primary {
    font-weight: 900;
    font-family: "canada-type-gibson";
}
#block263 .book-memos-wrapper {
    font-family: "canada-type-gibson";
}


#block262 {
}
#block262 .primary span {
    font-weight: 600;
    font-family: "canada-type-gibson";
    text-transform: uppercase;
    background: #f9e22b;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#block262 .secondary span {
    font-weight: 600;
    font-family: "canada-type-gibson";
    text-transform: uppercase;
    background: #f9e22b;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
#block262 .book-memos-wrapper .book-memos {
    background: #f9e22b;
}

#block261 {
    font-family: "karmina-sans";
    color: #00a3c2;
}
#block261 .primary {
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
}
#block261 .secondary {
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    color: #fdd12f;
}

#block260 {
    font-family: "canada-type-gibson";
    color: #336071;
}
#block260 .primary {
    font-weight: 600;
}
#block260 .secondary {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25rem;
    color: #777;
}

#block259 {
    font-family: "karmina-sans";
}

#block259 .primary {
    font-weight: 600;
    color: rgb(176, 91, 88);
}

#block259 .secondary {
    color: #bbb;
}
#block259 .book-memos-wrapper {
    font-size: 1.1rem;
    color: rgb(86, 75, 74);
}

#block258 {
    font-family: "canada-type-gibson";

    color: #779;
}

#block258 .primary {
    font-weight: 600;
    color: #fd4e5f;
}

#block258 .secondary {
    color: #fd4e5f;
}


#block257 {
    color: #525252;
    font-family: "arno-pro-display";
    font-size: 1.2rem;
}
#block257 .primary {
    font-weight: 700;
    font-size: 2.5rem;
}

#block256 {
    color: #333;
}
#block256 .primary {
    font-weight: 600;
}
#block256 .secondary {
    color: #aaa;
}
#block256 .book-memos-wrapper {
    color: #aaa;
}

/* Orebita */
#block255 {
    background: #80a3a7;
    color: #444;
}
#block255 .secondary {
    opacity: 0.4;
    font-weight: 900;
    font-family: "arno-pro-display";
}

/* Oglivy */
#block254 {
    font-family: "karmina-sans";
    padding: 5rem 0;
}
#block254 .primary {
    color: #d60056;
}
#block254 .book-memos-wrapper {
    color: #999;
}

#block253 {
    color: #000;
    font-family: "canada-type-gibson";
}
#block253 .primary {
    font-weight: 700;
}
#block253 .nav-arrow svg .vector {
    fill: rgba(255,255,255, 0.4);
}
#block253 .nav-arrow:hover svg .vector {
    fill: rgba(255,255,255, 0.8);
}

#block252 {
    color: #7cafa3;;
    font-family: "karmina-sans";
}
#block252 .primary {
    font-weight: 700;
}
#block252 .primary span {
    background: #f9e22b;
    padding: 0px 5px;
}
#block252 .book-memos-wrapper {
    font-family: "canada-type-gibson";
    color: #639085;
    font-size: 1.1rem;
}

#block251 {
    color: #30a025;
    font-family: "canada-type-gibson";
}
#block251 .primary {
    font-weight: 500;
}
#block251 .book-memos-wrapper {
}

/* Umenie vojny */
#block250 {
    color: #222;
}
#block250 .secondary {
    color: #e62727;
}
#block250 .nav-arrow svg .vector {
    fill: rgba(255,255,255, 0.4);
}
#block250 .nav-arrow:hover svg .vector {
    fill: rgba(255,255,255, 0.8);
}

#block249 {
    font-family: "canada-type-gibson";
    color: #e07e7d;
}
#block249 .primary {
    font-weight: 400;
    color: #e07e7d;
}
#block249 .secondary {
    font-weight: 600;
    color: #864545;
}

#block248 {
    color: #5e9eba;
    font-family: "karmina-sans";
    color: #333;
}
#block248 .primary {
    color: #c9bcf9;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1;
}
#block248 .secondary {
    color: #333;
    font-weight: 700;
}
#block248 .tertiary {
    color:#6047bb;
}

#block247 {
    color: #5e9eba;
    font-family: "karmina-sans";
    color: #333;
}
#block247 .primary {
    color: #aecae4;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1;
}
#block247 .secondary {
    color: #333;
    font-weight: 700;
}
#block247 .tertiary {
    color:#329eff;
}

#block246 {
    color: #5e9eba;
    font-family: "karmina-sans";
    color: #333;
}
#block246 .primary {
    color: #e0cb83;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1;
}
#block246 .secondary {
    color: #333;
    font-weight: 700;
}
#block246 .tertiary {
    color:#caa31c;
}

#block245 {
    color: #5e9eba;
    font-family: "karmina-sans";
    color: #333;
}
#block245 .primary {
    color: #b8c77d;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1;
}
#block245 .secondary {
    color: #333;
    font-weight: 700;
}
#block245 .tertiary {
    color:#a1b848;
}

#block244 {
    color: #5e9eba;
    font-family: "karmina-sans";
    color: #333;
}
#block244 .primary {
    color: #e698a2;
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 1;
}
#block244 .secondary {
    color: #333;
    font-weight: 700;
}
#block244 .tertiary {
    color:#d73c4f;
}

#block243 {
    font-family: "canada-type-gibson";
    font-weight: 300;
}
#block243 .book-memos-wrapper {
    font-family: "canada-type-gibson";
    font-weight: 300;
}

#block242 {
    font-family: "karmina-sans";
}
#block242 .primary {
    color: #527183;
    font-weight: 600;
}
#block242 .secondary {
    color: #846c75;
    font-weight: 600;
}

#block241 {
    background: #a0160e;
    color: #fbf5c6;
}
#block241 .book-memos-wrapper {
    color: #fbf5c6;
}

#block240 {
    font-family: "canada-type-gibson";
    font-weight: 300;
}
#block240 .book-memos-wrapper {
    font-family: "canada-type-gibson";
    font-weight: 300;
}

#block239 {
}

#block238 {
    background: #fcd245;
    font-family: "canada-type-gibson";
}

#block237 {
    color: #645a51;
}
#block237 .primary {
    font-family: "karmina-sans";
    font-weight:600;
}
#block237 .secondary {
    color: #ed3d3d;
    font-family: "canada-type-gibson";
    font-weight: 600;
}

#block236 {
    font-family: "canada-type-gibson";
}
#block236 .primary {
    color: #aaa;
    font-size: 1.75rem;
}
#block236 .secondary {

    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
}

#block235 {
    color: #6a6e84;
}
#block235 .primary {
    font-weight: 600;
    color: #6bc9c9;
    font-family: "arno-pro-display";
}

#block234 {
    font-family: "arno-pro-display";
}
#block234 .secondary {
    font-weight: 600;
    color: #3d4631;
}
#block234 .book-memos-wrapper {
    color: #888;
    font-size: 1.25rem;
}

/* Nero*/
#block233 {
    padding: 5rem 0;
    color: #e07e7d;
    font-family: "canada-type-gibson";
}
#block233 .primary {
    font-weight:900;
    font-size: 3rem;
}
#block232 {
    font-family: "canada-type-gibson";
    color:#222;
}
#block232 .primary {
    font-weight: 900;
    text-transform: uppercase;
}
#block232 .secondary {
    font-family: "canada-type-gibson";
    font-weight: 700;
    color: #56bac6;
}
#block232 .book-memos-wrapper {
    font-weight: 300;
    color: #555;
}

#block231 {
    background: #1f6ff0;
    color: #fff;
}
#block231 .primary {
    font-family: "abril-text";
    font-weight: 900;
}
#block231 .book-memos-wrapper {
    font-weight: 300;
}
#block231 .nav-arrow svg .vector {
    fill: rgba(255,255,255, 0.4);
}
#block231 .nav-arrow:hover svg .vector {
    fill: rgba(255,255,255, 0.8);
}

#block230 {
}
#block230 .primary {
    font-family: "karmina-sans";
    font-weight: 900;
    color: #555;
}
#block230 .secondary {
    font-size: 1rem;
    opacity: 0.6;
    font-family: "karmina-sans";
}

#block229 {
}
#block229 .primary {
    font-weight: 900;
}
#block229 .secondary {
    font-weight: 900;
}
#block229 .book-memos-wrapper {
    font-family: "canada-type-gibson";
}


#block227 {
    color: #666;
    font-family: "canada-type-gibson";

}
#block227 .primary {
    font-weight: 500;
    color: #d6ba75;
}
#block227 .book-memos-wrapper {
    font-family: "karmina-sans";
}

#block226 {
    color: #444;
    font-family: "canada-type-gibson";

}
#block226 .primary {
    font-weight: 900;
    color: #bf1f1f;
}
#block226 .secondary {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;

}

#block225 {
    color: #24d2fa;
    font-family: "canada-type-gibson";

}
#block225 .primary {
    font-weight: 600;
    color: #ffbe00;
}
