@media only screen and (max-width: 48rem)
{
}

@media only screen and (min-width: 48rem)
{
    .block .primary {
        font-size: 4rem;
    }
    .book-memos {
        font-size: 1.15rem;
    }
    .nav-arrow {
        left: 2rem;
    }
    #block265 .primary {
        font-size: 2.5rem;
    }
    #block265 .secondary {
        font-size: 1.5rem;
    }
    #block267 .primary {
        font-size: 2.5rem;
    }
    #block268 .secondary {
        font-size: 1.5rem;
    }
    #block273 .primary {
        font-size: 2.5rem;
        word-spacing: 0.75rem;
    }
    #block275 .primary {
        font-size: 2.5rem;
    }
    #block276 .primary {
        word-spacing: 0.75rem;
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 62rem)
{
}

@media only screen and (min-width: 75rem)
{
}

